@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@100;400;700&family=Montserrat&family=Open+Sans:wght@500&family=Poppins:ital,wght@1,300&family=Rajdhani:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button {
  font-family: inherit;
}

:root {
  --CARD-BG-COLOR: #1098f7;
  --CARD-BG-COLOR2: #66bcfa;
  --CARD-SHADOW: #0567ad;
  --HIGHLIGHT-COLOR: #ec7357;
  --HIGHLIGHT-COLOR2: #fec601;
  --SECTION-BG-COLOR: #174362;
}

.navbar-nav:first-of-type {
  display: flex;
  justify-content: space-between;
}

.navbar-nav:last-of-type {
  display: flex;
  justify-content: space-around;
}

#login {
  background-color: var(--SECTION-BG-COLOR);
  border-radius: 5px;
}

#signup {
  border: 2px solid var(--SECTION-BG-COLOR);
  border-radius: 5px;
}

/* BUTTON POSITIONING */

#stay {
  margin-top: 80px;
}

#stayTwo {
  margin-top: 78px;
}

#stayThree {
  margin-top: 178px;
}

/* NAV STYLING   */
nav {
  background-color: #fff;
  box-shadow: 0px 2px 5px;
}

/* MEDIA QUERY FOR LARGE SCREENS */
@media (min-width: 768px) {
  .navbar-nav:first-of-type {
    width: 70%;
  }

  .navbar-nav:last-of-type {
    width: 25%;
  }

  .navbar-nav:last-of-type li:first-child {
    border: 3px solid #fff;
    border-radius: 5px;
    width: 45%;
    font-size: larger;
    color: #fff !important;
  }
  .navbar-nav:last-of-type li:first-child a {
    color: white;
    font-size: clamp(1rem, 2.2vh, 1.5rem);
  }

  .navbar-nav:last-of-type li:last-child {
    background-color: #fff;
    border-radius: 5px;
    width: 45%;
    font-size: clamp(1rem, 2.2vh, 1.5rem);
  }
  .navbar-nav:last-of-type li:last-child a {
    color: black;
    font-weight: 600;
  }
}

@media (min-width: 892px) and (max-width: 1004px) {
}

/* FOR TESTING */
/* LIST STYLING REMOVAL FOR THE FOOTER LISTS AND LINKS */

.footer__ul li {
  list-style-type: none;
}

.footer__ul li a {
  text-decoration: none;
  color: black;
}

.footer__section--last {
  height: 110px;
}

.footer__section--last p {
  margin: 0;
}

/* THE WRAPPER FOR BOTH MANAGE AND REVIEW SECTIONS */
.big-wrapper {
  background-color: var(--SECTION-BG-COLOR);
  padding: 20px;
}

.white {
  color: white;
}
/* MANAGE SECTION AND ITS DIVS */
.manage__section {
  width: 100%;
}
.icons__card {
  border-radius: 10px;
  box-shadow: 2px 2px 10px;
  background-color: var(--CARD-BG-COLOR);
}

/* STYLE FOR THE REVIEW GOOGLE AND APPLE DIVS */
.review__container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 80px;
  margin: auto;
}
.review__div--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
}
.review__div--wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.review__div--wrap p {
  margin: 0;
}

/* HOVER STYLING FOR THE ELEMENTS */

/* COLORS */
.card {
  background-color: var(--CARD-BG-COLOR2);
  box-shadow: 2px 2px 15px;
}

.small {
  font-size: 0.9rem;
}

.small__card {
  border: 2px solid black;
  border-radius: 10px;
}

.div__wrap--item {
  color: var(--HIGHLIGHT-COLOR2);
}

#getStarted {
  background-color: var(--CARD-BG-COLOR2);
  border-radius: 30px;
}
