@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lato:wght@100;400;700&family=Montserrat&family=Open+Sans:wght@500&family=Poppins:ital,wght@1,300&family=Rajdhani:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button {
  font-family: inherit;
}

.navbar-nav:first-of-type {
  display: flex;
  justify-content: space-between;
}

.navbar-nav:last-of-type {
  display: flex;
  justify-content: space-around;
}

/* BUTTON POSITIONING */

#stay {
  margin-top: 80px;
}

#stayTwo {
  margin-top: 58px;
}

#stayThree {
  margin-top: 158px;
}

/* MEDIA QUERY FOR LARGE SCREENS */
@media (min-width: 768px) {
  .navbar-nav:first-of-type {
    width: 70%;
  }

  .navbar-nav:last-of-type {
    width: 25%;
  }

  .navbar-nav:last-of-type li:first-child {
    border: 3px solid #fff;
    border-radius: 5px;
    width: 45%;
    font-size: larger;
    color: #fff !important;
  }
  .navbar-nav:last-of-type li:first-child a {
    color: white;
    font-size: clamp(1rem, 2.2vh, 1.5rem);
  }

  .navbar-nav:last-of-type li:last-child {
    background-color: #fff;
    border-radius: 5px;
    width: 45%;
    font-size: clamp(1rem, 2.2vh, 1.5rem);
  }
  .navbar-nav:last-of-type li:last-child a {
    color: black;
    font-weight: 600;
  }
}

@media (min-width: 892px) and (max-width: 1004px) {
}

/* FOR TESTING */
footer {
  width: 100%;
  height: 40vh;
}

li div {
  /* 
  outline: 2px solid green;
  background-color: goldenrod; */
  width: 10%;
}

/* LIST STYLING REMOVAL FOR THE FOOTER LISTS AND LINKS */

.footer__ul li {
  list-style-type: none;
}

.footer__ul li a {
  text-decoration: none;
  color: black;
}

/* STYLE FOR THE REVIEW GOOGLE AND APPLE DIVS */
.review__container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 80px;
  margin: auto;
}
.review__div--container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
}
.review__div--wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.review__div--wrap p {
  margin: 0;
}
